
    {% extends 'base_login.html' %}
    {% block body %}
      
    
    <div class = "container">
        <form action="/verify" method = 'POST'>
            <h4 class="my-4">Login</h4>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Enter username</label>
              <input type="name" name="username" class="form-control" id="exampleInputEmail1">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div> 
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
              <a href="/verify" id="emailHelp" class="form-text">New user? Sign up now</a>
              
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
            
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            
          </form>
    </div>
    {% endblock body %}
    