{% extends 'base_login.html' %}
{% block body %}
<div class = "container my-4">
  <form action="/signup" method = 'POST'>
      <h4 class="my-4">signup</h4>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Enter username</label>
        <input type="name" name="username" class="form-control" id="exampleInputEmail1">
        <div id="emailHelp" class="form-text">Your details can be modified from our admin account.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Enter Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
      <!-- <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}
    
   
  